* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.profile {
  max-width: 280px;
  border: 1px solid #eee;
  border-radius: .5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
}

img {
  width: 100%;
}

h2 {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  font-family: harrington;
}

span {
  display: block;
  margin-top: .5rem;
  font-size: 14px;
}