@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: space-evenly;
}

.countries img{
  width: 200px;
  height: 150px;
  border: 1px solid #eee;
  padding: .5rem;
  border-radius: 10px;
}

.countries {
  width: 280px;
  background: #ccc;
  padding: .5rem;
}

.countries h2 {
  font-size: 24px;
  font-weight: 500;
}